/BusinessObjects/bin/
/BusinessObjects/obj/
/BusinessObjects/appsettings.json
/DataAccessObjects/bin/
/DataAccessObjects/obj/
/Repositories/bin/
/Repositories/obj/
/SmartSupermarketFMartWPF/bin/
/SmartSupermarketFMartWPF/obj/
/.vs/